body{
    text-align: center;
    background-image: url(img/mom.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    color: gold;
    text-shadow: 14px 10px 3px black;
}
.jojo{
    color: aqua;
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    #main{
        background-repeat: no-repeat;
        background-size: 1000%;
    }
}