body{
    text-align: center;
    background-image: url(img/mom.jpg);
    background-repeat: no-repeat;
    background-size: 130%;
    color: gold;
    text-shadow: 14px 10px 3px black;
}
.jojo{
    color: aqua;
}
/* Mobile styles */
@media only screen and (max-width: 500px) {
    body {
        background-size: cover; /* Maintain image responsiveness */
        font-size: 90%; /* Adjust text size if needed */
        padding: 10px;
    }
}